/**
 *  Recipe
 */

/* --------------------------------------------------------------------------------------------------------------------
  PARAMETERS
-------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------
  PLACEHOLDERS
-------------------------------------------------------------------------------------------------------------------- */
%borderBox {
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  RULES
-------------------------------------------------------------------------------------------------------------------- */
body {
    counter-reset: li;
}

.recipe {
    ol {
        margin: 0;
        padding: 0;

        list-style: decimal outside;

        li {
            @extend .card;
            @extend .card__content;

            background-color: white;

            position: relative;
            margin-left: 50px;
            margin-bottom: 2em;

            &::before {
                content: counter(li);
                counter-increment: li;
                position: absolute;
                left: -50px;
                top: 0;
                background: #FF8E88;
                color: #fff;
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 33px;
            }
        }
    }
}
