/**
 *  Header
 */

/* --------------------------------------------------------------------------------------------------------------------
  PARAMETERS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  PLACEHOLDERS
-------------------------------------------------------------------------------------------------------------------- */
%borderBox {
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  RULES
-------------------------------------------------------------------------------------------------------------------- */
header {
    img {
        margin: 0 1em 0 0;
        vertical-align: -3em;
    }

    h1 {
        @extend %borderBox;
        font-size: 3em;
        font-family: 'Indie Flower', serif;
        color: inherit;

        display: inline-block;
    }
}
