/**
 *  Navbar
 */

/* --------------------------------------------------------------------------------------------------------------------
  PARAMETERS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  PLACEHOLDERS
-------------------------------------------------------------------------------------------------------------------- */
%borderBox {
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  RULES
-------------------------------------------------------------------------------------------------------------------- */
nav {
    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;

            a {
                padding: 1em;
                display: block;
                height: 100%;
                color: inherit;
            }
        }
    }
}
