/**
 *  Card
 */

/* --------------------------------------------------------------------------------------------------------------------
  PARAMETERS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  PLACEHOLDERS
-------------------------------------------------------------------------------------------------------------------- */
%borderBox {
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------------------------------
  RULES
-------------------------------------------------------------------------------------------------------------------- */
.card {
    @extend %borderBox;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: rem-calc(7px) 0 rem-calc(15px) 0;

    h1, h2, h3 {
        margin-top: 0;
    }
}

.card__title {
    padding: 1em;
    border-bottom: 1px lightgray solid;
}

.card__content {
    padding: 1em;
    border-bottom: 1px #EBEBEB solid;
}

.card__container {
    padding: 0;
    border-bottom: 1px #EBEBEB solid;
}

.card__title:last-child,
.card__container:last-child,
.card__content:last-child {
    border-bottom: none;
}
